In [1]:
import pandas as pd

In [2]:
'''Importing excel file using pandas'''

'Importing excel file using pandas'

In [ ]:
#df = pd.read_csv("C:/Users/FaranMuhammad/Documents/Xander - Technical Course/pp-monthly-update-new-version.csv")
# ----> to read the file with specified path.  
#print the data frame#print(df)
#df = df.fillna("") --> use to fill the nan 
#pd.set_option("display.max_columns",None)
#pd.set_option("display.max_rows",None)
#df.head() show first few rows
#df.head(3) --> print first 3 rows
#df.corr() shows corrilation 
#df.info --> Info about dataframe

In [3]:
df = pd.read_excel('C:/Users/FaranMuhammad/OneDrive/coding/Mini_Project/Pandas/UNICEF Global database on education for children with disabilities.xlsx')

In [ ]:
#print(df)

In [ ]:
'''We can use the shape attribute to check how large the resulting DataFrame is'''
df.shape

In [ ]:
'''using head() to retrive first few rows'''

In [ ]:
df.head()

In [ ]:
pd.set_option("display.max_columns",None)

In [ ]:
pd.set_option("display.max_rows",None)

In [ ]:
'''getting list of column from dataframe'''
print(df.columns.ravel())

In [ ]:
'''selecting one column from data frame'''

In [ ]:
df.Region

In [ ]:
'''using conditional statement'''
df.Region == 'SA'

In [ ]:
'''multiple conditional statement'''
df.loc[(df.Region == 'SA') & (df.Category =='Male')]

In [ ]:
#function and maps
#describe method This method generates a high-level summary of the attributes of the given column. 
#It is type-aware, meaning that its output changes based on the data type of the input.
#The output above only makes sense for numerical data; for string data here's what we get:

In [ ]:
df.Region.describe()

In [ ]:
#using ,mean() function

In [ ]:
df.Total.Point().mean

In [ ]:
# checking data type of a column
df.Region.dtype

In [ ]:
df.corr()

In [4]:
#--> use to fill the nan
df = df.fillna("")

In [5]:
print(df)

    Countries and areas ISO Code Region Sub-region Development regions  \
0
1            Bangladesh      BGD     SA         SA     Least Developed
2            Bangladesh      BGD     SA         SA     Least Developed
3            Bangladesh      BGD     SA         SA     Least Developed
4            Bangladesh      BGD     SA         SA     Least Developed
..                  ...      ...    ...        ...                 ...
156            Zimbabwe      ZWE    SSA        ESA      Less Developed
157            Zimbabwe      ZWE    SSA        ESA      Less Developed
158            Zimbabwe      ZWE    SSA        ESA      Less Developed
159            Zimbabwe      ZWE    SSA        ESA      Less Developed
160            Zimbabwe      ZWE    SSA        ESA      Less Developed

        Indicator Category           Total   Unnamed: 8   Unnamed: 9  \
0                           Point estimate  Upper limit  Lower limit
1    ANAR Primary    Total            82.7         83.3         82.1
2    ANAR Primary     Male            80.1           81         79.2
3    ANAR Primary   Female            85.3         86.1         84.5
4    ANAR Primary    Urban            84.3         85.6         82.9
..            ...      ...             ...          ...          ...
156  ANAR Primary    Total            90.3         91.2         89.3
157  ANAR Primary     Male            89.2         90.5         87.8
158  ANAR Primary   Female            91.4         92.7         90.2
159  ANAR Primary    Urban            92.8         94.2         91.3
160  ANAR Primary    Rural            89.4         90.5         88.2

    Children without functional difficulties  Unnamed: 11  Unnamed: 12  \
0                             Point estimate  Upper limit  Lower limit
1                                       83.7         84.3         83.1
2                                       81.4         82.3         80.5
3                                         86         86.9         85.2
4                                       84.9         86.3         83.6
..                                       ...          ...          ...
156                                     90.3         91.2         89.3
157                                     89.2         90.6         87.8
158                                     91.4         92.7         90.1
159                                       93         94.5         91.5
160                                     89.3         90.5         88.1

    Children with functional difficulties  Unnamed: 14  Unnamed: 15  \
0                          Point estimate  Upper limit  Lower limit
1                                    72.1         74.6         69.6
2                                    68.1         71.5         64.6
3                                    76.8         80.2         73.3
4                                    76.1         81.8         70.3
..                                    ...          ...          ...
156                                  90.1         93.2         87.1
157                                  88.6         92.9         84.2
158                                    92         96.1         87.9
159                                  90.1         96.5         83.8
160                                  90.1         93.6         86.7

    Data source Time period
0
1         MICS6        2019
2         MICS6        2019
3         MICS6        2019
4         MICS6        2019
..          ...         ...
156       MICS6        2019
157       MICS6        2019
158       MICS6        2019
159       MICS6        2019
160       MICS6        2019

[161 rows x 18 columns]

In [6]:
unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],colu
   mns = ['col2','col1'])

SyntaxError: invalid syntax (<ipython-input-6-293ecc319163>, line 2)